---
export const prerender = false;

import RegistrationAndLoginForm from "../../components/auth/RegistrationAndLoginForm.svelte";
import UserInfo from "../../components/auth/UserInfo.svelte";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <UserInfo client:load />
    <h1>Login</h1>
    <RegistrationAndLoginForm isLoginForm client:visible />
</body>
</html>
